:root {
    --main-font: "Mulish", sans-serif;
    --primary-color: #458FF6;
    --secondary-color: #233348;
    --accent-color1: #7D7987;
    --white: #FFFFFF;
    --black: #000000;
    --xl: 1980px;
    --lg: 1280px;
    --md: 960px;
    --sm: 600px;
    --xs: 320px;
    --tc: color 0.3s;
    --ta: all 0.3;
    

}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;

    
}

h3 {
    font-size: 36px;
    font-weight: 700px;
    color: var(--black);
    line-height: 56px;
}

p {
    font-weight: 300px;
    font-size: 18px;
    line-height: 30px;
    color: var(--accent-color1);
}

h2,
h3 
h4,
h5,
h6,
ul,
ol,
li,



* {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--accent-color1);
}

main {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--accent-color1);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

header .header-bin {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: var(--lg);
  
}

header .landing {
    position: absolute;
}

header .landing .header-bin {
    background-color: transparent;
}

header .header-bin nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .header-bin nav .logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    transition: var(--tc);
    position: relative;
}

header .header-bin nav .logo a img {
    width: 160px;
    height: 41px;
    transition: var(--ta);
    position: absolute;
    margin-top: 56px;
    margin-left: 191px;
}

header .header-bin nav ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 70px;


}

header .header-bin nav ul li {
    display: flex;
    align-items: center;


}

header .header-bin nav ul li a {
    color: var(--accent-color1);
    font-size: 18px;
    font-weight: 400;
    transition: var(--tc);
    position: relative;
    line-height: 22.59px;

}

header nav ul li a:hover{
    font-weight: 700;
    color: var(--black);
}

.hero {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: var(--lg);
    background-color: var(--white);
    margin: auto;
    flex-wrap: wrap;
   
}



.hero .hero-bin-content {
    position: relative;
    display: flex;
    width: 100%;
    max-width: var(--lg);
    padding-bottom: 300px;
    

}



.hero .hero-bin-content .taskai img {
    display: flex;
    position: relative;
    width: 131.58px;
    height: 115px;
    margin-left: -175px;
    margin-top: 100px;

}

.hero .hero-bin-content .box {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 440px;
    height: 338px;
    margin-top: 200px;
    margin-left: 30px;
}

.hero .hero-bin-content .box h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--black);
    line-height: 56px;
    margin-bottom: 20px;

}

.hero .hero-bin-content .box p {
    font-size: 21px;
    font-weight: 300;
    color: var(--accent-color1);
    line-height: 32px;
}

.hero .hero-bin-content .nuotrauka {

    

    width: 693px;
    height: 598px;
    padding-left: 200px;
    padding-top: 140px;
}


.button {

    background-color: var(--primary-color);
    color: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 60px;
    padding: 17px;
    border-radius: 55px;
    border: 1.4px solid var(--primary-color);
    font-weight: 600;


}

.button:hover {

    background-color: var(--white);
    color: var(--primary-color);
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 60px;
    padding: 17px;
    border-radius: 55px;
    border: 1.4px solid var(--primary-color);
    font-weight: 600;


}

.blocks {

    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 300px;
    background-color: var(--white);
    max-width: var(--lg);
    position: relative;
    
}


.blocks .blocks-bin .tiesus {

    display: flex;
    justify-content: center;
}


.blocks .blocks-bin {

    width: 100%;
    max-width: var(--lg);
    padding: 0 10px 0 70px;
    
}

.blocks .blocks-bin .taskai2 img {
    
    display: flex;
    position: absolute;
    width: 131.58px;
    height: 115px;
    right: -20px;
    top: 820px;
    

}

.blocks .blocks-bin .vector img {

    display: flex;
    position: absolute;
    top: 500px;
    left: -120px;

    

}

.blocks .blocks-bin h2.header {

    font-size: 36px;
    font-weight: 700px;
    line-height: 56px;
    color: var(--black);
    text-align: center;
    padding: 25px;


}

.blocks .blocks-bin p {

    font-size: 18px;
    font-weight: 300px;
    line-height: 30px;
    color: var(--accent-color1);
    text-align: center;
    margin-top: 25px;
    padding: 100px;

}



.blocks .blocks-bin .blocks-holder {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 70px 0 0 0;
    justify-content: center;
    column-gap: 50px;
    row-gap: 30px;
   
    
}

.blocks .blocks-bin .blocks-holder .button2 {
    margin-top: 80px;
}

.blocks .blocks-bin .blocks-holder .block {

    max-width: 350px;
    max-height: 354px;
    background-color: var(--white);
    align-items: left;
    position: relative;
    display: flex;
    border-radius: 10px;
    flex: 1;
    box-shadow: 19px 17px 13px 12px rgba(0, 0, 0, 0.13);



}


.blocks .blocks-bin .blocks-holder .block img {
    position: absolute;
    max-width: 92px;
    max-height: 90px;
    z-index: 1;
    margin-top: 65px;
    margin-left: 30px;

}

.blocks .blocks-bin .blocks-holder .block .block-content {
    position: relative;
    align-items: left;
    align-content: left;


}

.blocks .blocks-bin .blocks-holder .block .block-content h2 {
    color: var(--black);
    font-size: 24px;
    z-index: 2;
    font-weight: 700px;
    align-items: left;
    margin-top: 200px;
    margin-left: 30px;


}

.blocks .blocks-bin .blocks-holder .block .block-content p {

    color: var(--accent-color1);
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding: 0;
    margin-top: 0;
    margin-left: 30px;
    line-height: 28px;
    text-align: left;
    width: 266px;
    height: 84px;


}

.button2 {

    background-color: var(--white);
    color: var(--primary-color);
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 60px;
    padding: 17px;
    border-radius: 55px;
    border: 1.4px solid var(--primary-color);
    font-weight: 700;

}

.button2:hover {

    background-color: var(--primary-color);
    color: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 60px;
    padding: 17px;
    border-radius: 55px;
    border: 1.4px solid var(--white);
    font-weight: 700;
    
    
}


.page {
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: var(--lg);
    background-color: var(--white);
    padding-bottom: 200px;
    flex-wrap: wrap;

}

.page .taskai3 img {
    
    overflow: hidden;
    display: flex;
    position: absolute;
    width: 131.58px;
    height: 115px;
    right: -170px;
    top: 510px;
    

}

.page .iliustration { 

width: 650px;
height: 477px;

}

.page .content {

    width: 400px;
    height: 388px;
    padding-top: 50px;

}

.page .content p {

    margin-bottom: 30px;
}


.page1 {

    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: var(--lg);
    background-color: var(--white);
    padding-bottom: 200px;
    flex-wrap: wrap;
    
    

}




.page1 .content1 {

    width: 400px;
    height: 375px;
   

}

.page1 .content1 .armin {
    
    padding-left: 14px;
    padding-bottom: 14px;
    
    
   
    
}

.page1 .content1 p {

    margin-bottom: 30px;
}


.page1 .iliustration1 { 
    
    width: 665px;
    height: 434px;
}


.comment {

    width: 100%;
    display: flex;
    justify-content: center;
    max-width: var(--lg);
    margin: auto;
    position: relative;
    
}

.comment .taskai5 img {
    
    overflow: hidden;
    position: absolute;
    width: 131.58px;
    height: 115px;
    left: 30px;
    top: 280px;
    z-index: 0;
    
    
}

.comment .comment-bin {

    position: relative;
    width: 1120px;
    height: 425px;
    background-image: linear-gradient(#67C3F3, #5A98F2);
    color: var(--white);
    display: flex;
    border-radius: 24px;
    justify-content: center;
    z-index: 1;
    

}

.comment .comment-bin .taskai4 img {
    
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 10px;
    
    
    
}




.comment .comment-bin .comment-bin-content {
   display: flex;
   position: absolute;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   
    
}

.comment .comment-bin .comment-bin-content h1 {

    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 70px;
    padding-left: 70px;

}

.comment .comment-bin .comment-bin-content .whdash {
    
    display: flex;
    position: absolute;
    
    

}

.comment .comment-bin .comment-bin-content .column {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    
   
    
    

}
.comment .comment-bin .comment-bin-content .column .foto {

    padding-right: 30px;
    
}

.comment .comment-bin .comment-bin-content .column p {

    width: 500px;
    height: 120px;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
    padding-left: 90px;
    
}


.comment .comment-bin .comment-bin-content .column .together .name {
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
}

.comment .comment-bin .comment-bin-content .column .together .circle {

    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
}

.arrownav {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 200px;
}



.article {
    width: 100%;
    display: flex;
    justify-content: center;    
    padding-bottom: 200px;   
    position: relative;
    
}



.article .article-bin {
    width: 100%;
    max-width: var(--cw);
    display: flex;
    position: relative;
    justify-content: center;
    

}

.article .article-bin .article-bin-content .taskai6 img {
    
    overflow: hidden;
    position: absolute;
    width: 131.58px;
    height: 115px;
    left: -48px;
    top: 178px;
    z-index: 0;
    
    
}

.article .article-bin .article-bin-content .taskai7 img {
    
    overflow: hidden;
    position: absolute;
    width: 131.58px;
    height: 115px;
    left: 1140px;
    top: 1020px;
    z-index: 0;
    
    
}

.article .article-bin .article-bin-content .bldash {

    display: flex;
    position: relative;
    justify-content: center; 

}

.article .article-bin .article-bin-content {
    
    justify-content: center; 
    flex-wrap: wrap;
    position: relative;
    

}

.article .article-bin .article-bin-content h3 {
    text-align: center;
}



.article .article-bin .article-bin-content .article-holder {

    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 40px;
    position: relative;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 100px;
    
}



.article .article-bin .article-bin-content .article-holder .article-container {

    width: 350px;
    height: 512px;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
}

.article .article-bin .article-bin-content .button2 {
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.article .article-bin .article-bin-content .article-holder .article-container h2 {

    font-size: 21px;
    line-height: 32px;
    font-weight: 700;
    color: var(--black);
    padding: 30px 40px 0px 40px;

}
.article .article-bin .article-bin-content .article-holder .article-container p {

    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    padding: 0px 60px 0px 40px;
}
.article .article-bin .article-bin-content .article-holder .article-container a {
    margin: 0px 50px 30px 40px;
}

.article .article-bin .article-bin-content .article-holder .article-container a img {

    padding-left: 10px;
}

footer {
    
    display: flex;
    width: 100%; 
    justify-content: center;  
   

}

footer .color {

    display: flex;
    position: relative;
    height: 432px;
    width: 1600px;
    background-image: linear-gradient(#67C3F3, #5A98F2);
    
}

footer .color .color-bin {

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: var(--lg);
    color: var(--white);
    margin: auto;
    
}

footer .color .color-bin .taskai8 img {
    
    overflow: hidden;
    position: absolute;
    width: 131.58px;
    height: 115px;
    left: -160px;
    top: 315px;
    z-index: 0;
    
    
}

footer .color .color-bin .color-bin-box1 {

    width: 391px;
    height: 201px;
    color: var(--white);
}

footer .color .color-bin .color-bin-box1 p {
 
    color: var(--white);
    font-weight: 300;
    line-height: 28px;
    font-size: 18px;
    padding-top: 12px;
}

footer .color .color-bin .color-bin-box1 p.p2 {
    font-size: 16px;
    line-height: 28px;
}

footer .color .color-bin .color-bin-box2 table {

    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    text-align: left;
    padding-left: 50px;

}

footer .color .color-bin .color-bin-box2 table td:hover {

    font-weight: 500;
}

footer .color .color-bin .color-bin-box2 table h1 {

    font-size: 20px;
    font-weight: 700;
}

footer .color .color-bin .color-bin-box2 table td {

    padding-right: 130px;
}

footer .color .color-bin .color-bin-box1 .logo {

    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    
}

footer .color .color-bin .color-bin-box1 .logo .logo1 {

    font-size: 26px;
    font-weight: 700;
    line-height: 33px;
    background-color: var(--white);
    color: var(--primary-color);
    border-radius: 60px;
    height: 41px;
    width: 41px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer .color .color-bin .color-bin-box1 .logo .logoword {

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding-left: 12px;
}